@tailwind base;
@tailwind components;
@tailwind utilities;

.App {
  text-align: center;
  background-color: #282c34;
}

.App-logo {
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.window-h {
  height: 100vh; /*給 Safari 以外的瀏覽器讀取*/
  height: calc(var(--vh, 1vh) * 100);
}